# Dependency directory
node_modules

# local env variables
.env

# Typechain generation
typechain

#hardhat
artifacts/
cache/

# ESLint
.eslintcache

# macOS
.DS_Store
*.icloud

# yarn
yarn-error.log
package-lock.json
