# Dependency directory
node_modules

# local env variables
.env

#hardhat
artifacts/
cache/

# Typechain generation
typechain

# ESLint
.eslintcache

# macOS
.DS_Store
*.icloud

# yarn
yarn-error.log
package-lock.json

dist