# Dependency directory
node_modules

# local env variables
.env

#hardhat
artifacts/
cache/
artifacts-zk/
cache-zk/

# foundry
artifacts-foundry
foundry_cache
docs
!broadcast
broadcast/*
broadcast/*/31337/
.gas-snapshot


# Typechain generation
typechain

# ESLint
.eslintcache

# macOS
.DS_Store
*.icloud

# yarn
yarn-error.log
package-lock.json

dist